#form {
  display: flex;
  color: rgb(0, 136, 255);
  border: 1px solid black;
  border-radius: 6px;
  max-width: 720px;
}

#name {
  color: rgb(255, 0, 0);
  font-size: 20px;
}

#quantity {
  color: rgb(255, 0, 0);
  font-size: 20px;
}

label {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}

#btn {
  color: rgb(0, 136, 255);
  font-size: 20px;

}